body {
    color: #fff;
    text-transform: uppercase;
    box-sizing: border-box;
}

.container-all {
    width: 800px;
    height: 300px;
}

h1,
h2,
h3,
p {
    font-size: 20px;
    margin: 0;
}

header {
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.sec-aside {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
}

.left {
    background-color: green;
}

.right {
    background-color: pink;
}

section {
    background-color: blue;
    text-align: center;
}

footer {
    background-color: purple;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.container-section {
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px) and (max-width: 992px) {
    .container-all {
        width: 500px;
    }

    .container-section {
        width: 500px;
        display: flex;
        flex-wrap: wrap;
    }

    .left {
        width: 100%;
        order: 3;
        justify-content: center;
        padding-bottom: 50px;
    }

    section {
        width: 70%;
        order: 1;
    }

    .right {
        width: 30%;
        padding: 0;
        order: 2;
    }
}

@media (max-width: 768px) {

    h1,
    h2,
    h3,
    p {
        font-size: 15px;
    }

    .container-all {
        width: 300px;
    }

    .container-section {
        flex-direction: column;
    }

    .left {
        height: 200px;
        display: flex;
        justify-content: center;
        order: 2;
    }

    .right {
        height: 200px;
        display: flex;
        justify-content: center;
        order: 3;
    }

    section {
        padding-bottom: 80px;
    }
}